


  html{
    scroll-behavior: smooth;
  }
  
  body{
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  main{
    padding:5px
  }

  
  p{
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6; 
  }
  
  h1{
    font-size: 32px;
    line-height: 1;
    padding: 25px 0;
    text-align: center;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  h2{
    font-size: 22px;
    line-height: 1.5;
    padding-top:10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top:7px;
  }

  
  nav li{
    display:inline;
    padding-right:20px;
    
  }
  
  nav a{
    color: black;

    text-decoration: none; 
  }

  section{
    padding-top:10px;
  }
  section li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding-left:5px;
  }
  figcaption{
    font-size: 10px;
  }
  
  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  .active{
    font-weight: bold;         /* Bold text for the active link */
    border-radius: 5px;  
  }
  nav{
    background-color: #ddd;
    padding: 25px 5px; 
    text-align: left;
    /* position: relative;
    justify-items: center;
    justify-content: center; */

  }
  
  img{
    margin:0;
    padding: 0 0 0 0;
    align-self: flex-start;
  }
 
  
  
  footer{
    background-color: black;
    color: white;
    padding-top: 30px;
    text-align: center;
  }
  
  
  .text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
  }
  
  
  @media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
    /*Turn off parallax*/
    header{
      background-attachment: initial;
    }
  }
  
  
  
  /*Your Code Here*/
  /* PLEASE DO NOT REMOVE MY COMMENTS.  THEY HELP US HELP YOU DEBUG. */
  
  /* Step 1: Write selector/rule property to add an underline when
  links in the navigation are in the hover or focus state.*/
  
  nav a:hover,
  nav a:focus {
      text-decoration: underline;
  }
  
  /* Step 2a: Write selector/rule property to position the default position for the skip class element*/
  
  .skip a {
      position: absolute;
      top: -40px;
      left: 0;
  }
  
  /* Step 2b: Write selector/rule property to position the skip class element when it is in focus*/
  .skip a:focus {
    top: 20px;
  }
  
  
  /* Step 3: Write selector/rule property to style all elements when in focus*/
  *:focus:not(a) {
    outline: none;
    border: 2px solid #000; /* Black border */
  }
  
  
  
  /* Step 4: Write selector/rule property to style the container */
  
  .container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-gap: 15px;
  }
  
  /* Step 5: Write selector/rule property to add the background image to the 
  first div in the grid  and place it in the grid. */
  
  
  .container div:first-child{
    grid-column: 1 / -1; /* Spans all columns */
    background-image: url('../images/header.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Steps 6 and 7: Write the selector/rule properties to add place the next elements in the next
   four rows in the grid. */
  
        /*This will be a lot of rules.... but be strategic and combine seletors*/
  
  
  .about{
    grid-column: 2 / 3;
    grid-row-start: 2;
  }
  .method{
    grid-column: 2 / 3;
    grid-row-start: 3;
  }
  .clients{
    grid-column: 2 / 3;
    grid-row-start: 4;
  }
  .contact{
    grid-column: 2 / 3;
    grid-row-start: 5;
  }
      
  .about-image{
    grid-column: 1 / -1; /* Spans all columns */
    max-height: 600px;
    overflow: hidden;
    grid-row-start: 2;
    
  }
  .method-image{
    grid-column: 1 / -1; /* Spans all columns */
    max-height: 600px;
    overflow: hidden;
    grid-row-start: 3;
  }
  .clients-image{
    grid-column: 1 / -1; /* Spans all columns */
    max-height: 600px;
    overflow: hidden;
    grid-row-start: 4;
  }
  .contact-image{
    grid-column: 1 / -1; /* Spans all columns */
    max-height: 600px;
    overflow: hidden;
    grid-row-start: 5;
  }

  .logo {
    padding: 0px;
    margin: 0px;
    width:70px;
    height:70px;
    position: absolute;
    right: 0; /* 紧贴右边 */
    top:0;
  }
      
  .arti{
    font-weight: bold;
  }
  @media screen and (min-width: 450px) {
    p{
      font-size: 20px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      line-height: 1.6; 
    }
    
    h1{
      font-size: 36px;
      line-height: 1;
      padding: 25px 0;
      text-align: center;
      font-weight:bold;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    h2{
      font-size: 26px;
      line-height: 1.5;
      padding-top:10px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
    }
    h3{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 24px;
      padding-top:7px;
    }
    body{
      font-size: 20px;
      line-height: 1.15;
      margin: 0;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
    }
    figcaption{
      font-size: 15px;
    }
  }
   